
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions/*

node_modules/*
notepad.txt

email_info.py
requirements.txt
workcult_1/.elasticbeanstalk
workcult_1/.ebextensions
