
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions/*
node_modules/*
notepad.txt
settings.py
email_info.py
requirements.txt
workcult_1/.elasticbeanstalk
workcult_1/.ebextensions
razorpay_credentials.py
workcult_1/MeetingRoom/razorpay_credentails.py