[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-cors-headers = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-rest-knox = "*"
requests = "*"
datetime = "*"
razorpay = "*"
invoicegenerator = "*"
gen-invoice = "*"
pdfkit = "*"
xhtml2pdf = "*"
awsebcli = "*"
gunicorn = "*"
django-storages = "*"
boto3 = "*"
pillow = "*"
whitenoise = "*"
update = "*"
setuptools = "*"
pip = "==20.2.4"
pypiwin32 = {version = "*", sys_platform = "== 'win32'"}
pywin32 = {version = "*", sys_platform = "== 'win32'"}
waitress = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
